<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello Jinja2</title>
  </head>

<body>
	{%- set arr = [[1,2,3],['a','b','c'],['あ','い','う']] %}
	<form action="/" method="POST" enctype="multipart/form-data">
		<input type="hidden" name="arr" value="{{ arr }}">
		<input type="hidden" name="num" value="{{ arr[0]|length }}">
		<input type="submit" value="送信">
	</form>
</body>

</html>