<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello Jinja2</title>
  </head>

<body>
	<h1>{{ title }}</h1>
	<p>{{ message }}</p>
	<form action="/" method="POST" enctype="multipart/form-data">
		<select name="sel">
			<option value="null" disabled selected>選択して下さい</option>
			<option value="鶏">鶏肉</option>
			<option value="豚">豚肉</option>
			<option value="牛">牛肉</option>
			<option value="羊">羊肉</option>
		</select>
		<div>
			<input type="submit" value="送信">
		</div>
	</form>
</body>

</html>